.title, .title-small {
	-fx-font-family: "Cormorant Garamond Bold";
}

.title  {
	-fx-font-size: 16pt;
}

.title-small {
	-fx-font-size: 13pt;
}

.header {
	-fx-font-size: 13pt;
}

.header-small {
	-fx-font-size: 10pt;
}

.header-small-small {
	-fx-font-size: 8pt
}

.subtitle {
	-fx-font-style: italic;
}